@model GetUniversityByIdQueryResult
@{
    ViewData["Title"] = "UpdateUniversity";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="UniversityID" />
        <br />
        <label>Üniversite Adı</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <label>Şehir</label>
        <input type="text" asp-for="City" class="form-control" />
        <br />
        <label>Nüfus</label>
        <input type="text" asp-for="Population" class="form-control" />
        <br />
        
        <button class="btn btn-outline-success">Üniversiteyi Güncelle</button>
    </form>
</div>
